[paths]
source =
   src/ballistics
   */site-packages/ballistics

[run]
branch = true
source =
    ballistics
    tests
parallel = true

[report]
show_missing = true
precision = 2
omit = *migrations*
