[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]



[dev-packages]

tox = "*"
invoke = "*"
twine = "*"
sphinx = "*"
pytest = "*"
pytest-cov = "*"
bumpversion = "*"


[requires]

python_version = "3.6"
